.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 4rem;
  max-width: 865px;
  margin: auto;
  z-index: 99;
}

.header-div {
  border-bottom: 2px solid #0c0e0756;
}

.myLogo {
  height: 2rem;
  margin: 1rem;
}

.header-container .header-links {
  padding: 0 10px;
}

.header-links .links {
  font-size: 0.9rem;
  padding: 0 1rem 0rem 0rem;
  text-decoration: none;
  color: #0c0e07b4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
}

.header-links .icon {
  height: 1rem;
  padding-right: 0.3rem;
  color: #0c0e07b4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header-links .icon:hover {
  height: 1.2;
}

.header-links .links:hover {
  font-size: 1.2;
}

.header-links-active .links :active {
  border-bottom: 2px solid blue;
}

/* media queries */
@media screen and (max-width: 600px) {
  .header-links .links {
    display: none;
  }

  .icon {
    padding-right: 1rem;
  }

  .myLogo {
    height: 2rem;
  }
}
