.single-project {
  max-width: 768px;
  margin-top: 2rem;
  margin-bottom: 13rem;
}

.single-project h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 0.2rem;
}

.project-icon {
  font-size: 1.8rem;
}

.react {
  color: #61dbfb;
}

.html {
  color: #e56027;
}

.css {
  color: #238bc2;
}

.javascript {
  color: #ead41c;
}

.node {
  color: #89bb3c;
}

.firebase {
  color: #ffcb2b;
}

.tailwind-icon {
  color: #38bdf8;
}

.material-ui {
  color: #007fff;
}

.netlify {
  color: #25c7c7;
}

.htmlIcon {
  color: orange;
}

.title {
  text-decoration: none;
  color: #33a1fd;
}

.single-project-content {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  max-width: 768px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-description {
  color: #333;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.github-button {
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #33a1fd;
  border: 1px solid #33a1fd;

  color: #f1f5f8;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.live-button {
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: #f1f5f8;
  color: #0c0e07;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.live-button:hover {
  border: 1px solid #33a1fd;
  background-color: #33a1fd;
  color: #f1f5f8;
}

.live-button:active,
.github-button:active {
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }

  .project-icon {
    font-size: 1.5rem;
  }

  .single-project-content p {
    font-size: 1rem;
  }

  .icon-container {
  }
}
