/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&family=Roboto:wght@100;300;400&display=swap');

/* global colors */
.root {
  --ivory-white: #fbfff1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body styling */

body {
  font-family: 'Roboto', sans-serif;
  background: var(--ivory-white);
}

/* main container */
.container {
  max-width: 768px;
  background: #3066be;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
