/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

/* global colors */

.root {
  --poppins: 'Poppins', sans-serif !important;
  --smokey-black: #0c0e07;
  --corn-silk: #fefae0;
  --accent: #33a1fd;
  --off-white: #f1f5f8;
  --ghost-white: #fbfbfb;
  --blue-accent: #00b8ce;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body styling */
html,
body {
  font-family: 'Poppins', sans-serif;
  background: #f1f5f8;
  height: 100vh;
}

.home-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* main container */
.main-container {
  max-width: 1024px;
  /* background: white; */
  margin: auto;
  color: #0c0e07;
}

.heading-container {
  max-width: 865px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* absolute centering */
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 0 0rem;
  color: #0c0e07;
}

.heading-name {
  color: #33a1fd;
}

.waving-hand {
  height: 3.5rem;
  margin-right: 1rem;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.title-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container p {
  text-align: center;
  font-size: 1.2rem;
  max-width: 40rem;
  letter-spacing: 1px;
  color: #0c0e07b6;
}

img {
  vertical-align: middle;
}

.globe {
  height: 1.5rem;
  margin: 0rem 0.5rem;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btn__container a {
  text-decoration: none;
}

.btn {
  margin: 0rem 1rem;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: #33a1fd;
  color: #f1f5f8;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn:active {
  transform: translateY(2px);
}

.btn_1 {
  margin: 0rem 1rem;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #0c0e07;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn_1:hover {
  background-color: #33a1fd;
  color: white;
}

.btn_1:active {
  transform: translateY(2px);
}

/* media queries */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .main-container p {
    font-size: 0.9rem;
  }

  .btn__container {
    margin-top: 1rem;
  }

  .btn,
  .btn_1 {
    font-size: 0.9rem;
    margin: 0.5rem;
  }

  .waving-hand {
    height: 3rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
  .waving-hand {
    height: 2rem;
    margin-right: 0.5rem;
  }

  .main-container p {
    font-size: 1.2rem;
  }
}
